.logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 24px 16px 0;
    float: left;
}

.menu-item {
    float: left;
}

.layout {
    position: relative;
}
.mapAndMenu{

}
.mapStyle{

}