.infoWindow-image {
    max-height: 150px;
    max-width: 180px;
}

.info {
    padding-top: 10px;
    font-weight: bold;
}

.rating {
    margin-bottom: 5px;
    color: orangered;
    font-weight: bold;
}

.open-hours {
    font-weight: bold;
    color: limegreen;
}