.infoWindow-image {
    max-height: 150px;
    max-width: 180px;
}

.info {
    padding-top: 10px;
    font-weight: bold;
}

.rating {
    margin-bottom: 5px;
    color: orangered;
    font-weight: bold;
}

.rating-span {
    margin-right: 8px;
    vertical-align: middle;
}

.price-span {
    vertical-align: middle;
    margin-left: 12px;
}

.open-hours {
    font-weight: bold;
    color: limegreen;
}