.leftExpansionPanel {
    display: inline;
    position: absolute;
    left: 0px;
    top: 65px;
    z-index:20;
    overflow:auto;
    height: 60%;
    background-color: white;

}

.leftExpansionPanel Button{
    z-index: 100
}

.ListInterests {
    background-color: white;

}

