.leftExpansionPanel {
    display: inline;
    position: absolute;
    left: 0px;
    top: 150px;
    z-index:20;
    overflow:scroll;
    height: 60%;
    background-color: white;

}


.leftExpansionPanel .primary-btn {
    position: fixed;
    top: 150px;
    width: 50px;
    height: 50px;
    z-index:30;
    background-color: rgb(24, 144, 255);
}

.ListInterests {
    background-color: white;

}

.days-control-container {
    width: 95%;
    margin: 5px auto 5px auto;
    display: flex;
}

.days-control-container-slider {
    flex: 3;
}

.days-control-container-input {
    flex: 1;
}
.days-control-container-btn {
    flex: 1;
}

.days-control-slider {
    width: 100%;
}
.days-control-input {
    width: 70%;
}

.days-control-btn {
    width: 70%;
}



